@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }

  table {
    border-collapse: collapse !important;
  }

  th,
  td {
    color: black !important;
  }
}

